<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm position-sticky top-0 p-2">
  <div class="container-fluid">
    <a class="navbar-brand display-5 fs-4" routerLink="/home">PRESTA SAVINGS</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isNavbarCollapsed">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li ngbDropdown class="nav-item dropdown">
          <a
            ngbDropdownToggle
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ username }}
          </a>
          <ul
            ngbDropdownMenu
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdown"
          >
            <li><a class="dropdown-item" routerLink="/home">Dashboard</a></li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/home/users"
                *ngIf="role === 'ADMIN'"
              >Manage Users</a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/home/customers"
                *ngIf="role === 'CSR'"
              >Customers</a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/home/accounts"
                *ngIf="role === 'CSR'"
              >Accounts</a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/home/transactions"
                *ngIf="role === 'CSR'"
              >Transactions</a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/home/owner-accounts"
                *ngIf="role === 'CUSTOMER'"
              >My Accounts</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>