<div class="container p-4">
  <div class="d-flex gap-3 align-items-center mb-4">
    <a class="btn btn-sm btn-secondary" routerLink="/home/customers"><< BACK</a>
  </div>

  <h3 class="display-5 fs-4">CUSTOMER DETAILS</h3>
  <div class="table-responsive">
    <table class="table table-responsive table-hover table-bordered">
      <tbody>
        <tr>
          <th>#</th>
          <td>{{ customer?.memberNumber }}</td>
        </tr>
        <tr>
          <th>USERNAME</th>
          <td>{{ customer?.username }}</td>
        </tr>

        <tr>
          <th>NAME</th>
          <td>{{ customer?.name }}</td>
        </tr>
        <tr>
          <th>EMAIL</th>
          <td>{{ customer?.email }}</td>
        </tr>
        <tr>
          <th>EMAIL CONFIRMED</th>
          <td>{{ customer?.emailConfirmed }}</td>
        </tr>
        <tr>
          <th>MOBILE NUMBER</th>
          <td>{{ customer?.mobileNumber }}</td>
        </tr>
        <tr>
          <th>MOBILE CONFIRMED</th>
          <td>{{ customer?.mobileConfirmed }}</td>
        </tr>
        <tr>
          <th>JOIN DATE</th>
          <td>{{ customer?.createdAt | date : "dd-MM-yyyy: hh:mm:ss" }}</td>
        </tr>
        <tr>
          <th>GOVERMENT ID</th>
          <td>{{ customer?.governmentId }}</td>
        </tr>
        <tr>
          <th>KRA PIN</th>
          <td>{{ customer?.kraPin }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3 class="display-5 fs-4 mt-3">ACCOUNT DETAILS</h3>
  <div class="table-responsive">
    <table class="table table-responsive table-hover table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>NAME</th>
          <th>TYPE</th>
          <th>BALANCE</th>
          <th>ACTIONS</th>
        </tr>
      </thead>
      <tbody>
        @for (account of customer?.accounts; track $index) {
        <tr>
          <td>{{ account.accountNumber }}</td>
          <td>{{ account.accountName }}</td>
          <td>{{ account.accountType }}</td>
          <td>{{ account.balance }}</td>
          <td><a href="" class="btn btn-sm btn-secondary">view</a></td>
        </tr>

        }
      </tbody>
    </table>
  </div>
</div>
