<div class="container p-5">
  <h3 class="display-5 fs-4">USER DETAILS</h3>
  <div class="table-responsive">
    <table class="table table-responsive table-hover table-bordered">
      <tbody>
        <tr>
          <th>USER ID</th>
          <td>{{ user?.id }}</td>
        </tr>
        <tr>
          <th>USERNAME</th>
          <td>{{ user?.username }}</td>
        </tr>
        <tr>
          <th>ROLE</th>
          <td>{{ user?.role }}</td>
        </tr>
        <tr>
          <th>JOIN DATE</th>
          <td>{{ user?.createdAt | date : "dd-MM-yyyy: hh:mm:ss" }}</td>
        </tr>
        <tr>
          <th>ENABLED</th>
          <td>{{ user?.isEnabled }}</td>
        </tr>
        <tr>
          <th>LOCKED</th>
          <td>{{ user?.isLocked }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
