<div class="container mt-2">
  <div class="card mt-4 mx-auto" style="width: 350px">
    <div class="card-body bg-white">
      <form [formGroup]="registrationForm" (ngSubmit)="register()">
        <div>
          <div class="row mb-2">
            <div class="col-md-12">
              <label for="userId">Username</label>
              <input
                type="text"
                class="form-control bg-light"
                id="userId"
                formControlName="username"
              />
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-12">
            <label for="nameId">Full Name</label>
            <input
              type="text"
              class="form-control bg-light"
              id="nameId"
              formControlName="fullName"
            />
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-12">
            <label for="emailId">Email</label>
            <input
              type="email"
              class="form-control bg-light"
              id="emailId"
              formControlName="email"
            />
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-12">
            <label for="passId">Password</label>
            <input
              type="password"
              class="form-control bg-light"
              id="passId"
              formControlName="password"
            />
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-12">
            <label for="mobileId">Mobile Number</label>
            <input
              type="number"
              class="form-control bg-light"
              id="mobileId"
              formControlName="mobileNumber"
            />
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-12">
            <label for="govtId">Government ID</label>
            <input
              type="number"
              class="form-control bg-light"
              id="govtId"
              formControlName="governmentId"
            />
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-12">
            <label for="kraId">Kra Pin</label>
            <input
              type="text"
              class="form-control bg-light"
              id="kraId"
              formControlName="kraPin"
            />
          </div>
        </div>
        <div class="row mt-3 w-50 mx-auto">
          <button class="btn btn-sm btn-dark" type="submit">REGISTER</button>
        </div>
      </form>
    </div>
  </div>
</div>
