<div class="container p-4">
  <h3 class="display-5 fs-4">CUSTOMERS DATA</h3>

  <div class="table-responsive">
    <table class="table table-responsive table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">MEMBER NUMBER</th>
          <th scope="col">NAME</th>
          <th scope="col">EMAIL</th>
          <th scope="col">MOBILE</th>
          <th scope="col">DELETED</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
