<div class="container mt-2">
  <div class="card mt-4 mx-auto" style="width: 380px">
    <div class="card-body bg-white">
      <form [formGroup]="accountForm" (ngSubmit)="createAccount()">
        <div class="row mb-2">
          <div class="row mb-2">
            <div class="col-md-12">
              <label for="userId">Savings Account Name</label>
              <input
                type="text"
                class="form-control bg-light"
                id="userId"
                formControlName="accountName"
              />
            </div>
          </div>
          <div class="col-md-12">
            <label for="accountType">Savings Account Type</label>
            <select
              class="form-control bg-light"
              id="accountType"
              formControlName="accountType"
            >
              <option value="EDUCATION">EDUCATION</option>
              <option value="PERSONAL">PERSONAL</option>
              <option value="VACATION">VACATION</option>
            </select>
          </div>
        </div>

        <div class="row mt-3 w-50 mx-auto">
          <button class="btn btn-sm btn-dark" type="submit">
            CREATE ACCOUNT
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
