<app-navbar></app-navbar>
<div class="container p-4">
  <ul class="nav nav-tabs">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link text-black" routerLink="/home/users">Users</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link text-black" routerLink="/home/customers">Customers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">Accounts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">Transactions</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
