<div class="container p-4">
  <div class="card mt-4 mx-auto" style="width: 350px">
    <div class="card-body bg-white">
      <form [formGroup]="activationForm" (ngSubmit)="activateAccount()">
        <div class="row mb-3">
          <div class="col-md-12">
            <label for="codeId">Activation Code</label>
            <input
              type="text"
              class="form-control bg-light"
              id="codeId"
              formControlName="code"
            />
          </div>
        </div>
        <div class="row mx-auto mt-3">
          <button class="btn btn-sm btn-dark" type="submit">VERIFY</button>
        </div>
      </form>
      <div class="row mx-auto mt-3">
        <button
          class="btn btn-sm btn-light"
          type="submit"
          (click)="resendToken()"
        >
          RESEND
        </button>
      </div>
    </div>
  </div>
</div>
